/* .left-one img{
    max-width: 350px;
}
.left-one-content{
    width: 400px;
    height: 258px;
}
.left-two-content{
    width: 400px;
    height: 258px;
} */
/* .left{
    width: 800px;
    height: 526px;
}
.left-one{
    background-image: url('../../assets/fp_img_1.png');
    width: 600px;
    height: 220px;
}
.right{
    width: 400px;   
    height: 526px;
} */