.left-one img{
    max-width: 350px;
}
.left-one-content{
    width: 400px;
    height: 258px;
    /* max-width: 80%; */
    /* border: 1px solid black; */
}
.left-two-content{
    width: 400px;
    height: 258px;
    /* max-width: 80%; */
    /* border: 1px solid black; */
}